<div class="container">
  <div class="row">
    <div class="col-7">
      <img class="img-fluid shadow-sm" src="assets/img/others/products-photo.jpeg" alt="">
    </div>
    <div class="col-5">
      <h1>Dapatkan Produk <br> Bumbu Umik®</h1>
      <p>Beli produk kami di e-commerce kesayangan anda seperti Shopee dengan <strong>Gratis Ongkir</strong> pada
        Wilayah yang didukung.</p>
      <div class="row ecommerce">
        <div class="col-5">
          <a href="" class="btn btn-danger">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>