<div class="container">
  <div class="row">
    <div class="col-md-7 ">
      <img class="img-fluid shadow-sm" src="assets/img/others/products-photo.jpeg" alt="">
    </div>
    <div class="col-md-5">
      <h1>Bumbu Terlaris<br> Bumbu Opor</h1>
      <p>Bumbu Rawon milik Bumbu Umik mempunyai rasa yang kuat sehingga membuat bumbu ini rasanya sangat mirip dengan bumbu aslinya daripada bumbu cepat saji lainnya. Penjualan bumbu ini menjadi terlaris dalam penjualan tiap bulannya karena cita rasa yang cocok di lidah orang Indonesia. Dalam proses pembuatannya, Bumbu Umik sengaja mencari bahan dasar yang sangat berkualitas. </p>
      <div class="row ecommerce">
        <div class="col-12 col-md-5">
          <a href="" class="btn btn-danger">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>