<div class="container">
  <div class="row footer-top">
    <div class="col-3">
      <img src="assets/img/others/logo.jpg" alt="Logo" class="d-inline-block mb-3 align-text-top logo-brand">
      <p>
        Produk Kuliner Indonesia
      </p>
      <div class="social-icon">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
      </div>
    </div>
    <div class="col-3">
      <h3 class="footer-title">Tautan Penting</h3>
      <ul>
        <li><a href="#">Beranda</a></li>
        <li><a href="#">Produk</a></li>
        <li><a href="#">Tentang Kami</a></li>
        <li><a href="#">Kontak</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3 class="footer-title">Bantuan</h3>
      <ul>
        <li><a href="#">Kebijakan Privasi</a></li>
        <li><a href="#">Syarat dan Ketentuan</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3 class="footer-title">Hubungi Kami</h3>
      <ul>
        <li>
          <a href="https://api.whatsapp.com/send?phone=6281234567890&text=Halo%20Bumbu%20Umik%20Saya%20Mau%20Tanya%20Tentang%20Produk%20Anda" target="_blank">
            <i class="fab fa-whatsapp"></i> +62 812 3456 7890
          </a>
        </li>
        <li>
          <a href="mailto:bumbuumik@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i> bumbuumik@gmail.com
          </a>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row copyright">
  <div class="text-center">
    <p class="text-white">
      &copy; 2023 Bumbu Umik. All Rights Reserved.
    </p>
  </div>
</div>