<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget company-intro-widget">
          <a href="index.html" class="site-logo">
            <img src="/assets/img/logo.jpeg" class="rounded" alt="logo">
          </a>
          <p>
            Bumbu Umik adalah sebuah usaha yang bergerak di bidang kuliner.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget course-links-widget">
          <h5 class="widget-title">Tautan Penting</h5>
          <ul class="courses-link-list">
            <li><a href="#" class="text-decoration-none">Kegiatan</a></li>
            <li><a href="#" class="text-decoration-none">Produk Kami</a></li>
            <li><a href="#" class="text-decoration-none">Resep</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget course-links-widget">
          <h5 class="widget-title">Bantuan</h5>
          <ul class="courses-link-list">
            <li><a href="#" class="text-decoration-none">Kontak Kami</a></li>
            <li><a href="#" class="text-decoration-none">FAQ</a></li>
            <li><a href="#" class="text-decoration-none">Kebijakan Pengembalian</a></li>
            <li><a href="#" class="text-decoration-none">Kebijakan Privasi</a></li>
            <li><a href="#" class="text-decoration-none">Syarat & Ketentuan</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget newsletter-widget">
          <h5 class="widget-title">Hubungi Kami</h5>
          <div class="call-me">
            <ul class="company-footer-contact-list">
              <li><i class="fas fa-phone"></i> +62 888 0284 9345 </li>
              <li><i class="fas fa-clock"></i> Senin - Jum'at, 08.00-16.00 WIB </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <span class="copy-right-text">
          © 2021 Bumbu Umik. All Rights Reserved.
        </span>
      </div>
    </div>
  </div>
</div>