<div class="hero-background position-relative w-100">
  <div class="position-absolute text-white d-flex flex-column align-items-start justify-content-center"
    style="top: 0; right: 0; bottom: 0; left: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <h1 class="hero-title">
            Bumbu Umik
          </h1>
          <span class="hero-subtitle ps-2">
            Dari rempah pilihan. Untuk rasa terbaik.
          </span>
          <a href="#" class="btn hero-button">Tentang Produk</a>
        </div>
        <div class="col-md-6">
          <img src="./assets/img/others/product.jpg" class="hero-image" alt="">
        </div>
      </div>
    </div>
  </div>
</div>