<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card shadow-sm rounded py-4 px-3" data-aos="fade-right">
        <img src="assets/img/icons/peppers.png" alt="">
        <br>
        <h4>Rempah Asli</h4>
        <p>
          Terbuat dari rempah-rempah asli <br> Indonesia yang berkualitas.
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow-sm rounded py-4 px-3" data-aos="zoom-in">
        <img src="assets/img/icons/bibimbap.png" alt="">
        <br>
        <h4>Varian Rasa</h4>
        <p>
          Memiliki berbagai macam varian <br> rasa yang dapat dipilih.
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow-sm rounded py-4 px-3" data-aos="fade-left">
        <img src="assets/img/icons/delivery.png" alt="">
        <br>
        <h4>Ready Setiap Hari</h4>
        <p>
          Siap dikirim setiap hari <br> sesuai kebutuhan konsumen.
        </p>
      </div>
    </div>
  </div>
</div>