<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Kritik dan Saran</h3>
      <p>
        Berikan kritik dan saran anda untuk kami, agar kami dapat meningkatkan kualitas produk kami.
      </p>
      <form action="">
        <div class="mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input type="text" class="form-control" id="nama" placeholder="Masukkan Nama Anda">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Masukkan Email Anda">
        </div>
        <div class="mb-3">
          <label for="pesan" class="form-label">Pesan</label>
          <textarea class="form-control" id="pesan" rows="3" placeholder="Masukkan Pesan Anda"></textarea>
        </div>
        <button type="submit" class="btn btn-md">Kirim Sekarang</button>
      </form>
    </div>
    <div class="col-6 bg-form">
      <img src="assets/img/others/saran.jpg" alt="">
    </div>
  </div>
</div>