<div class="container">
  <h1 class="text-start mb-1">
    Produk Kami
  </h1>
  <p class="text-white">
    Bumbu Masak Umik memiliki berbagai macam varian rasa, <br> dapat memenuhi kebutuhan konsumen akan bumbu masak
    yang berkualitas.
  </p>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <!-- Product Item -->
          <div class="col-lg-4">
            <div class="card">
              <img src="assets/img/products/rawon.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Varian Rawon <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Rawon merupakan bumbu masak yang di buat khusus untuk memasak Rawon.
                </p>
                <a href="#" class="btn ">Lihat Produk</a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4">
            <div class="card">
              <img src="assets/img/products/gulai.jpeg" class="card-img-top" alt="Gulai">
              <div class="card-body">
                <h5 class="card-title">Varian Gule <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Gulai merupakan bumbu masak yang di buat khusus untuk memasak Gulai.
                </p>
                <a href="#" class="btn ">Lihat Produk</a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4">
            <div class="card">
              <img src="assets/img/products/opor.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Varian Opor <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Opor merupakan bumbu masak yang di buat khusus untuk memasak Opor.
                </p>
                <a href="#" class="btn ">Lihat Produk</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <!-- Product Item -->
          <div class="col-lg-4">
            <div class="card">
              <img src="assets/img/products/lodeh.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Sayur Lodeh <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Lodeh merupakan bumbu masak yang di buat khusus untuk memasak Lodeh.
                </p>
                <a href="#" class="btn ">Lihat Produk</a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4">
            <div class="card">
              <img src="assets/img/products/nasgor.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Nasi Goreng <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Nasi Goreng merupakan bumbu masak yang di buat khusus untuk memasak Nasi
                  Goreng.
                </p>
                <a href="#" class="btn ">Lihat Produk</a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4">
            <div class="card">
              <img src="assets/img/products/soto.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Soto Kuning <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Soto merupakan bumbu masak yang di buat khusus untuk memasak Soto.
                </p>
                <a href="#" class="btn ">Lihat Produk</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>