<div class="container">
  <h1 class="text-start mb-1">
    Produk Kami
  </h1>
  <p class="text-white">
    Bumbu Masak Umik memiliki berbagai macam varian rasa, <br> dapat memenuhi kebutuhan konsumen akan bumbu masak
    yang berkualitas.
  </p>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <!-- Product Item -->
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <img src="assets/img/products/rawon.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Varian Rawon <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Rawon merupakan bumbu masak yang di buat khusus untuk memasak Rawon.
                </p>
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal1">
                  Lihat Resep
                </a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <img src="assets/img/products/gulai.jpeg" class="card-img-top" alt="Gulai">
              <div class="card-body">
                <h5 class="card-title">Varian Gule <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Gulai merupakan bumbu masak yang di buat khusus untuk memasak Gulai.
                </p>
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal2">
                  Lihat Resep
                </a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <img src="assets/img/products/opor.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Varian Opor <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Opor merupakan bumbu masak yang di buat khusus untuk memasak Opor.
                </p>
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal3">
                  Lihat Resep
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <!-- Product Item -->
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <img src="assets/img/products/lodeh.jpeg" class="card-img-top" alt="Ayam Bakar">
              <div class="card-body">
                <h5 class="card-title">Ayam Bakar <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Ayam Bakar merupakan bumbu masak yang di buat khusus untuk memanggang ayam bakar.
                </p>
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal4">
                  Lihat Resep
                </a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <img src="assets/img/products/nasgor.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Nasi Goreng <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Nasi Goreng merupakan bumbu masak yang di buat khusus untuk memasak Nasi
                  Goreng.
                </p>
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal5">
                Lihat Resep
              </a>
              </div>
            </div>
          </div>
          <!-- Product Item -->
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <img src="assets/img/products/soto.jpeg" class="card-img-top" alt="Rawon">
              <div class="card-body">
                <h5 class="card-title">Soto Kuning <span class="badge bg-secondary">Rp 15.000</span></h5>
                <p class="card-text">
                  Bumbu Masak Umik Varian Soto merupakan bumbu masak yang di buat khusus untuk memasak Soto.
                </p>
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal6">
                  Lihat Resep
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

 <!-- Modal Product Rawon -->
<div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="produk1ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk1ModalLabel">Resep Rawon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Produk -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rrawon.jpg" id="productImage1" class="img-fluid" alt="Foto Produk 1">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Rawon</h4>
            <table class="table table-borderless">
              <tr>
                <td>Bahan</td>
                <th>: </th>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <th>: </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>

 <!-- Modal Product Gule -->
 <div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="produk2ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk2ModalLabel">Resep Gule</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rrawon.jpg" id="productImage2" class="img-fluid" alt="Foto Produk 2">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Gule</h4>
            <table class="table table-borderless">
              <tr>
                <td>Bahan</td>
                <th>: </th>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <th>: </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Product Opor -->
<div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="produk3ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk3ModalLabel">Resep Opor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/ropor.jpg" id="productImage3" class="img-fluid" alt="Foto Produk 3">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Opor</h4>
            <table class="table table-borderless">
              <tr>
                <td>Bahan</td>
                <th>: </th>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <th>: </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Product Ayam Bakar -->
<div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="produk4ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk4ModalLabel">Resep Ayam Bakar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rayambkr.jpg" id="productImage4" class="img-fluid" alt="Foto Produk 4">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Ayam Bakar</h4>
            <table class="table table-borderless">
              <tr>
                <td>Bahan</td>
                <th>: </th>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <th>: </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Product Nasgor -->
<div class="modal fade" id="productModal5" tabindex="-1" aria-labelledby="produk5ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk5ModalLabel">Resep Nasi Goreng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rnasgor.jpg" id="productImage5" class="img-fluid" alt="Foto Produk 5">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Nasi Goreng</h4>
            <table class="table table-borderless">
              <tr>
                <td>Bahan</td>
                <th>: </th>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <th>: </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Product Soto -->
<div class="modal fade" id="productModal6" tabindex="-1" aria-labelledby="produk6ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk6ModalLabel">Resep Soto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rrawon.jpg" id="productImage6" class="img-fluid" alt="Foto Produk 6">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Soto Kuning</h4>
            <table class="table table-borderless">
              <tr>
                <td>Bahan</td>
                <th>: </th>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <th>: </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>
