<div class="container">
  <h1 class="text-start mb-1">
    Produk Kami
  </h1>
  <p class="text-white">
    Bumbu Masak Umik memiliki berbagai macam varian rasa, <br> dapat memenuhi kebutuhan konsumen akan bumbu masak yang berkualitas.
  </p>

  <div class="row mt-3 g-3">
    <!-- Product Item -->
    <div class="card col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/products/rawon.jpeg" class="card-img-top img-fluid w-100" alt="Rawon">
      <div class="card-body">
        <h5 class="card-title">Varian Rawon <span class="badge bg-secondary">Rp 15.000</span></h5>
        <p class="card-text">
          Bumbu Masak Umik Varian Rawon merupakan bumbu masak yang di buat khusus untuk memasak Rawon.
        </p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal1">
          Lihat Resep
        </a>
      </div>
    </div>
    <!-- Product Item -->
    <div class="card col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="200">
      <img src="assets/img/products/gulai.jpeg" class="card-img-top img-fluid w-100" alt="Gulai">
      <div class="card-body">
        <h5 class="card-title">Varian Gule <span class="badge bg-secondary">Rp 15.000</span></h5>
        <p class="card-text">
          Bumbu Masak Umik Varian Gulai merupakan bumbu masak yang di buat khusus untuk memasak Gulai dan Semur.
        </p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal2">
          Lihat Resep
        </a>
      </div>
    </div>
    <!-- Product Item -->
    <div class="card col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="300">
      <img src="assets/img/products/opor.jpeg" class="card-img-top img-fluid w-100" alt="Rawon">
      <div class="card-body">
        <h5 class="card-title">Varian Opor <span class="badge bg-secondary">Rp 15.000</span></h5>
        <p class="card-text">
          Bumbu Masak Umik Varian Opor merupakan bumbu masak yang di buat khusus untuk memasak Opor.
        </p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal3">
          Lihat Resep
        </a>
      </div>
    </div>
    <!-- Product Item -->
    <div class="card col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="400">
      <img src="assets/img/products/lodeh.jpeg" class="card-img-top img-fluid w-100" alt="Ayam Bakar">
      <div class="card-body">
        <h5 class="card-title">Sambal Goreng <span class="badge bg-secondary">Rp 15.000</span></h5>
        <p class="card-text">
          Bumbu Masak Umik Varian Sambal Goreng merupakan bumbu masak yang di buat khusus untuk memasak aneka makanan pedas.
        </p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal4">
          Lihat Resep
        </a>
      </div>
    </div>
    <!-- Product Item -->
    <div class="card col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="500">
      <img src="assets/img/products/nasgor.jpeg" class="card-img-top img-fluid w-100" alt="Rawon">
      <div class="card-body">
        <h5 class="card-title">Nasi Goreng <span class="badge bg-secondary">Rp 15.000</span></h5>
        <p class="card-text">
          Bumbu Masak Umik Varian Nasi Goreng merupakan bumbu masak yang di buat khusus untuk memasak Nasi Goreng.
        </p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal5">
          Lihat Resep
        </a>
      </div>
    </div>
    <!-- Product Item -->
    <div class="card col-lg-3 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="600">
      <img src="assets/img/products/soto.jpeg" class="card-img-top img-fluid w-100" alt="Rawon">
      <div class="card-body">
        <h5 class="card-title">Sop <span class="badge bg-secondary">Rp 15.000</span></h5>
        <p class="card-text">
          Bumbu Masak Umik Varian Sop merupakan bumbu masak yang di buat khusus untuk memasak Sayur Sop.
        </p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productModal6">
          Lihat Resep
        </a>
      </div>
    </div>
</div>

<!-- Modal Product Rawon -->
<div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="produk1ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk1ModalLabel">Resep Rawon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Produk -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rrawon.jpg" id="productImage1" class="img-fluid" alt="Foto Produk 1">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Rawon</h4>
            <table class="table table-borderless text-justify">
              <tr>
                <td>Bahan</td>
                <td>: Daging sapi, bumbu masak Umik Varian Rawon, air, minyak, garam</td>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <td>: 
                  1. Panaskan minyak, tumis bumbu masak Umik Varian Rawon hingga harum.<br>
                  2. Masukkan potongan daging sapi, aduk hingga berubah warna.<br>
                  3. Tambahkan air dan garam secukupnya. Biarkan mendidih dan masak hingga daging empuk.<br>
                  4. Sajikan dengan nasi atau lontong, lalu beri tambahan sambal dan bahan pelengkap lain sesuai selera.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Product Gule -->
<div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="produk2ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk2ModalLabel">Resep Gulai Semur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rsemur.jpg" id="productImage2" class="img-fluid" alt="Foto Produk 2">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Gulai Semur</h4>
            <table class="table table-borderless text-justify">
              <tr>
                <td>Bahan</td>
                <td>: Bumbu Masak Umik Gulai, daging (ayam, sapi, atau kambing), santan, daun jeruk, garam, gula, air</td>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <td>: 
                  1. Panaskan minyak dalam panci besar. Tumis bumbu masak umik hingga harum.<br>
                  2. Tambahkan potongan daging dan aduk rata hingga berubah warna.<br>
                  3. Tuangkan santan ke dalam panci, tambahkan daun jeruk, garam, dan gula sesuai selera.<br>
                  4. Masak dengan api kecil hingga daging empuk dan bumbu meresap.<br>
                  5. Tambahkan air jika diperlukan untuk mengatur kekentalan saus.<br>
                  6. Sajikan Gulai Semur panas dengan nasi.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Product Opor -->
<div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="produk3ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk3ModalLabel">Resep Opor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/ropor.jpg" id="productImage3" class="img-fluid" alt="Foto Produk 3">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Opor</h4>
            <table class="table table-borderless text-justify">
              <tr>
                <td>Bahan</td>
                <td>: Bumbu Masak Umi Opor, ayam, santan, daun salam, serai, garam, gula, air</td>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <td>: 
                  1. Potong ayam menjadi potongan sesuai keinginan.<br>
                  2. Panaskan minyak dalam panci besar. Tumis Bumbu Masak Umi Opor hingga harum.<br>
                  3. Masukkan potongan ayam dan aduk rata hingga berubah warna.<br>
                  4. Tuangkan santan ke dalam panci, tambahkan daun salam, serai, garam, dan gula sesuai selera.<br>
                  5. Masak dengan api kecil hingga ayam empuk dan bumbu meresap.<br>
                  6. Tambahkan air jika diperlukan untuk mengatur kekentalan saus.<br>
                  7. Sajikan Opor panas dengan nasi atau lontong.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Product Sambal Goreng -->
<div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="produk4ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk4ModalLabel">Resep Sambal Goreng Tempe Kentang</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rsblgoreng.jpg" id="productImage4" class="img-fluid" alt="Foto Produk 4">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Sambal Goreng Tempe Kentang</h4>
            <table class="table table-borderless text-justify">
              <tr>
                <td>Bahan</td>
                <td>: Tempe, kentang, Bumbu Masak UmiK varian Sambal Goreng, santan, daun salam, garam, gula, minyak</td>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <td>: 
                  1. Potong tempe dan kentang menjadi ukuran sesuai selera.<br>
                  2. Panaskan minyak dalam wajan, goreng tempe dan kentang hingga kecokelatan. Angkat dan tiriskan.<br>
                  3. Panaskan sedikit minyak dalam wajan yang sama, tumis Bumbu Masak UmiK varian Sambal Goreng hingga harum.<br>
                  4. Masukkan daun salam dan santan, aduk rata. Biarkan santan mendidih.<br>
                  5. Tambahkan garam dan gula sesuai selera.<br>
                  6. Masukkan tempe dan kentang yang telah digoreng tadi ke dalam saus sambal goreng.<br>
                  7. Aduk rata dan masak dengan api kecil hingga saus meresap ke tempe dan kentang.<br>
                  8. Sajikan Sambal Goreng Tempe Kentang panas sebagai lauk atau dengan nasi.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Product Nasgor -->
<div class="modal fade" id="productModal5" tabindex="-1" aria-labelledby="produk5ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk5ModalLabel">Resep Nasi Goreng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rnasgor.jpg" id="productImage5" class="img-fluid" alt="Foto Produk 5">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Nasi Goreng</h4>
            <table class="table table-borderless text-justify">
              <tr>
                <td>Bahan</td>
                <td>: Nasi, minyak sayur, bawang putih cincang, telur, udang (opsional), ayam (opsional), sayuran (wortel, kacang polong), kecap manis, garam, merica, bumbu masak UmiK varian Nasi Goreng</td>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <td>: 
                  1. Panaskan sedikit minyak sayur dalam wajan besar.<br>
                  2. Tumis bawang putih cincang hingga harum.<br>
                  3. Jika Anda menggunakan ayam atau udang, tambahkan dan masak hingga matang.<br>
                  4. Pecahkan telur ke dalam wajan dan aduk rata hingga telur setengah matang.<br>
                  5. Tambahkan sayuran seperti wortel dan kacang polong. Aduk rata dan masak hingga sayuran mulai layu.<br>
                  6. Masukkan nasi dan bumbu masak UmiK varian Nasi Goreng. Aduk rata dan pastikan semua bahan tercampur dengan baik.<br>
                  7. Tambahkan kecap manis, garam, dan merica sesuai selera. Aduk kembali hingga rata.<br>
                  8. Sajikan Nasi Goreng panas, dan Anda dapat menambahkan hiasan seperti irisan mentimun atau tomat jika diinginkan.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Product SOp -->
<div class="modal fade" id="productModal6" tabindex="-1" aria-labelledby="produk6ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produk6ModalLabel">Resep Sayur Sop</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Foto Resep -->
          <div class="col-md-6">
            <img src="assets/img/products/resep/rsop.jpg" id="productImage6" class="img-fluid" alt="Foto Produk 6">
          </div>
          <div class="col-md-6">
            <!-- Informasi Resep -->
            <h4>Resep Sayur Sop</h4>
            <table class="table table-borderless text-justify">
              <tr>
                <td>Bahan</td>
                <td>: Sayuran (wortel, kentang, kubis, buncis, jagung), bumbu UmiK, garam, gula, kaldu ayam, air</td>
              </tr>
              <tr>
                <td>Cara Memasak</td>
                <td>: 
                  1. Potong sayuran (wortel, kentang, kubis, buncis, jagung) sesuai selera.<br>
                  2. Rebus air dalam panci besar, tambahkan kaldu ayam, garam, dan gula sesuai selera.<br>
                  3. Masukkan sayuran yang memerlukan waktu memasak lebih lama, seperti wortel dan kentang, terlebih dahulu.<br>
                  4. Setelah beberapa saat, tambahkan sayuran lainnya, seperti kubis, buncis, dan jagung.<br>
                  5. Masak hingga sayuran menjadi empuk.<br>
                  6. Tambahkan bumbu UmiK sesuai selera, dan aduk hingga merata.<br>
                  7. Cicipi dan sesuaikan rasa dengan garam dan gula jika diperlukan.<br>
                  8. Sajikan Sayur Sop panas sebagai hidangan lezat.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
      </div>
    </div>
  </div>
</div>

