<div class="container">

  <div class="testimonial-title pb-3">
    <h3>Testimonial</h3>
    <p>Apa kata mereka tentang Bumbu Umik?</p>
  </div>

  <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- First People -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/icons/avatar-man.png" alt="Testimonial 1">
                <h3>John Doe</h3>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="font-weight-light mb-0">
                  "Bumbu Umik sangat cocok untuk memasak, <br> rasanya enak dan tidak berlebihan."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second People -->
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/icons/avatar-man.png" alt="Testimonial 2">
                <h3>Hafizh Muhammad</h3>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="font-weight-light mb-0">
                  "Banyak varian rasa yang dapat dipilih, <br> dan sangat cocok untuk memasak."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>