<!-- CARD BELUM RESPONSIF -->
<!-- nanti diperbaiki lagi hwhw -->
<div class="container">
    <h1 class="my-5 text-center">Daftar Produk Bumbu Umik</h1>
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Carousel Item 1 -->
            <div class="carousel-item active">
                <div class="row py-5 mx-auto">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card mb-3 text-center">
                            <img src="assets/img/rawon.jpg" class="card-img-top" alt="Rawon">
                            <div class="card-body">
                                <h5 class="card-title m-1">Bumbu Rawon</h5>
                                <p class="card-text m-1 text-danger">Rp.15.000</p>

                                <p class="card-text m-1">200gram</p>
                                
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> <br> 
                               
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk1Modal">DETAIL</a>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="card mb-3 text-center">
                          <img src="assets/img/gule.jpg" class="card-img-top" alt="Gule">
                          <div class="card-body">
                              <h5 class="card-title m-1">Bumbu Gule</h5>
                              <p class="card-text m-1 text-danger">Rp.15.000</p>

                              <p class="card-text m-1">200gram</p>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> <br> 
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk2Modal">DETAIL</a>
                              
                          </div>
                      </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="card mb-3 text-center">
                        <img src="assets/img/sambalgoreng.jpg" class="card-img-top" alt="Sambal Goreng">
                        <div class="card-body">
                            <h5 class="card-title m-1">Bumbu Sambal Goreng</h5>
                            <p class="card-text m-1 text-danger">Rp.15.000</p>

                            <p class="card-text m-1">200gram</p>
                            <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> <br> 
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk3Modal">DETAIL</a>
                           
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card mb-3 text-center">
                      <img src="assets/img/sotokuning.jpg" class="card-img-top" alt="Soto Kuning">
                      <div class="card-body">
                          <h5 class="card-title m-1">Bumbu Soto Kuning</h5>
                          <p class="card-text m-1 text-danger">Rp.15.000</p>

                          <p class="card-text m-1">200gram</p>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> <br>
                          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk4Modal">DETAIL</a>
                         
                      </div>
                  </div>
              </div>
                    <!-- Add more cards here for additional products -->
                </div>
            </div>
            <!-- End of Carousel Item 1 -->

            <!-- Carousel Item 2 -->
            <div class="carousel-item">
                <div class="row py-5 mx-auto">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card mb-3 text-center">
                            <img src="assets/img/nasgor.jpg" class="card-img-top" alt="NasGor">
                            <div class="card-body">
                                <h5 class="card-title m-1">Bumbu Nasi Goreng</h5>
                                <p class="card-text m-1 text-danger">Rp.15.000</p>

                                <p class="card-text m-1">200gram</p>
                                
                                <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> <br>
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk5Modal">DETAIL</a>
                               
                            </div>
                        </div>
                    </div>
                    <!-- Add more cards here for additional products -->
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="card mb-3 text-center">
                          <img src="assets/img/opor.jpg" class="card-img-top" alt="Opor">
                          <div class="card-body">
                              <h5 class="card-title m-1">Bumbu Opor</h5>
                              <p class="card-text m-1 text-danger">Rp.15.000</p>

                              <p class="card-text m-1">200gram</p>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> <br>
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk6Modal">DETAIL</a>
                             
                          </div>
                      </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="card mb-3 text-center">
                        <img src="assets/img/senggesseng.jpg" class="card-img-top" alt="Senggesseng">
                        <div class="card-body">
                            <h5 class="card-title m-1">Bumbu Senggesseng</h5>
                            <p class="card-text m-1 text-danger">Rp.15.000</p>

                            <p class="card-text m-1">200gram</p>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i> <br>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk7Modal">DETAIL</a>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card mb-3 text-center">
                      <img src="assets/img/lodeh.jpg" class="card-img-top" alt="Lodeh">
                      <div class="card-body">
                          <h5 class="card-title m-1">Bumbu Sayur Lodeh</h5>
                          <p class="card-text m-1 text-danger">Rp.15.000</p>

                          <p class="card-text m-1">200gram</p>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> <br>
                          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produk8Modal">DETAIL</a>
                         
                      </div>
                  </div>
              </div>
</div>
                </div>
            </div>
            <!-- End of Carousel Item 2 -->
        </div>
</section>

<ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#productCarousel" data-bs-slide="prev">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#productCarousel" data-bs-slide-to="0">1</a></li>
    <li class="page-item"><a class="page-link" href="#productCarousel" data-bs-slide-to="1">2</a></li>
    <li class="page-item"><a class="page-link" href="#productCarousel" data-bs-slide="next">Next</a></li>
    <!-- Add more page links here if you have more products -->
</ul>


    </div>
</div>

<!-- Modal for Product 1 -->
<div class="modal fade" id="produk1Modal" tabindex="-1" aria-labelledby="produk1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="produk1ModalLabel">Detail Produk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th>Produk</th>
                                <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                            </tr>
                            <tr>
                                <th>Harga</th>
                                <td>: RP.15.000</td>
                            </tr>
                            <tr>
                              <th>Deskripsi</th>
                              <td class="description">
                                  : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                                  Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                      
                                  Harga murah dan terjangkau dan
                                  Kami jamin awet dan aman pada saat pengiriman.<br><br>
                      
                                  Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                      
                                  Netto : 200Gram
                              </td>
                            </tr>
                            <tr>
                                <th>Rating</th>
                                <th>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i> 
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 2 -->
<div class="modal fade" id="produk2Modal" tabindex="-1" aria-labelledby="produk2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="produk2ModalLabel">Detail Produk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th>Produk</th>
                                <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                            </tr>
                            <tr>
                                <th>Harga</th>
                                <td>: RP.15.000</td>
                            </tr>
                            <tr>
                              <th>Deskripsi</th>
                              <td class="description">
                                  : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                                  Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                      
                                  Harga murah dan terjangkau dan
                                  Kami jamin awet dan aman pada saat pengiriman.<br><br>
                      
                                  Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                      
                                  Netto : 200Gram
                              </td>
                            </tr>
                            <tr>
                                <th>Rating</th>
                                <th>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i> 
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
               
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 3 -->
<div class="modal fade" id="produk3Modal" tabindex="-1" aria-labelledby="produk3ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="produk3ModalLabel">Detail Produk</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th>Produk</th>
                            <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                        </tr>
                        <tr>
                            <th>Harga</th>
                            <td>: RP.15.000</td>
                        </tr>
                        <tr>
                          <th>Deskripsi</th>
                          <td class="description">
                              : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                              Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                  
                              Harga murah dan terjangkau dan
                              Kami jamin awet dan aman pada saat pengiriman.<br><br>
                  
                              Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                  
                              Netto : 200Gram
                          </td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <th>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> 
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
              
          </div>
      </div>
  </div>
</div>

<!-- Modal for Product 4 -->
<div class="modal fade" id="produk4Modal" tabindex="-1" aria-labelledby="produk4ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="produk4ModalLabel">Detail Produk</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th>Produk</th>
                            <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                        </tr>
                        <tr>
                            <th>Harga</th>
                            <td>: RP.15.000</td>
                        </tr>
                        <tr>
                          <th>Deskripsi</th>
                          <td class="description">
                              : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                              Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                  
                              Harga murah dan terjangkau dan
                              Kami jamin awet dan aman pada saat pengiriman.<br><br>
                  
                              Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                  
                              Netto : 200Gram
                          </td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <th>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> 
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
              
          </div>
      </div>
  </div>
</div>

<!-- Modal for Product 5 -->
<div class="modal fade" id="produk5Modal" tabindex="-1" aria-labelledby="produk5ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="produk5ModalLabel">Detail Produk</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th>Produk</th>
                            <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                        </tr>
                        <tr>
                            <th>Harga</th>
                            <td>: RP.15.000</td>
                        </tr>
                        <tr>
                          <th>Deskripsi</th>
                          <td class="description">
                              : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                              Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                  
                              Harga murah dan terjangkau dan
                              Kami jamin awet dan aman pada saat pengiriman.<br><br>
                  
                              Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                  
                              Netto : 200Gram
                          </td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <th>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> 
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
              
          </div>
      </div>
  </div>
</div>

<!-- Modal for Product 6 -->
<div class="modal fade" id="produk6Modal" tabindex="-1" aria-labelledby="produk6ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="produk6ModalLabel">Detail Produk</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th>Produk</th>
                            <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                        </tr>
                        <tr>
                            <th>Harga</th>
                            <td>: RP.15.000</td>
                        </tr>
                        <tr>
                          <th>Deskripsi</th>
                          <td class="description">
                              : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                              Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                  
                              Harga murah dan terjangkau dan
                              Kami jamin awet dan aman pada saat pengiriman.<br><br>
                  
                              Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                  
                              Netto : 200Gram
                          </td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <th>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> 
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
              
          </div>
      </div>
  </div>
</div>

<!-- Modal for Product 7 -->
<div class="modal fade" id="produk7Modal" tabindex="-1" aria-labelledby="produk7ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="produk7ModalLabel">Detail Produk</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th>Produk</th>
                            <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                        </tr>
                        <tr>
                            <th>Harga</th>
                            <td>: RP.15.000</td>
                        </tr>
                        <tr>
                          <th>Deskripsi</th>
                          <td class="description">
                              : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                              Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                  
                              Harga murah dan terjangkau dan
                              Kami jamin awet dan aman pada saat pengiriman.<br><br>
                  
                              Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                  
                              Netto : 200Gram
                          </td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <th>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i> 
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
             
          </div>
      </div>
  </div>
</div>

<!-- Modal for Product 8 -->
<div class="modal fade" id="produk8Modal" tabindex="-1" aria-labelledby="produk8ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="produk8ModalLabel">Detail Produk</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6">
                      <img src="assets/img/lodeh.jpg" class="img-fluid" alt="Kaos 1">
                  </div>
                  <div class="col-md-6">
                      <table class="table table-borderless">
                          <tr>
                              <th>Produk</th>
                              <td>: Bumbu Umik Varian Bumbu Sayur Lodeh</td>
                          </tr>
                          <tr>
                              <th>Harga</th>
                              <td>: RP.15.000</td>
                          </tr>
                          <tr>
                            <th>Deskripsi</th>
                            <td class="description">
                                : Bumbu Umik adalah Bumbu masak siap masak khas Sumenep Madura yang dibuat dengan rempah pilihan berkualitas, untuk rasa terbaik "TANPA BAHAN PENGAWET".
                                Sekarang dengan menggunakan BUMBU UMIK siapapun bisa masak dengan MUDAH dan PRAKTIS dengan rasa yang super duper enakkk.<br><br>
                    
                                Harga murah dan terjangkau dan
                                Kami jamin awet dan aman pada saat pengiriman.<br><br>
                    
                                Kemasan kami menggunakan 2 lapisan yaitu plastik vakum untuk dan standing pouch untuk menjaga keamanan dan kehegiensian bumbu sampai ke tangan customer.<br><br>
                    
                                Netto : 200Gram
                            </td>
                          </tr>
                          <tr>
                              <th>Rating</th>
                              <th>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> 
                              </th>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KEMBALI</button>
          </div>
      </div>
  </div>
</div>