<section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-center">Tentang Kami</h2>
        <p class="lead text-center">
          Bumbu Masak Umik merupakan merupakan bumbu masak yang terbuat dari bahan-bahan alami dan berkualitas. Bumbu Masak Umik memiliki berbagai macam varian rasa yang dapat memenuhi kebutuhan konsumen akan bumbu masak yang berkualitas. Menjangkau seluruh wilayah Indonesia, Bumbu Masak Umik dapat ditemukan di berbagai macam toko dan supermarket.
          <br>
          Memiliki cita rasa yang khas dan berbeda dari bumbu masak lainnya, Bumbu Masak Umik dapat menjadi pilihan yang tepat untuk memasak berbagai macam masakan. Bumbu Masak Umik dapat digunakan untuk berbagai macam masakan seperti masakan berkuah, masakan gorengan, dan lain sebagainya.
        </p>
      </div>
    </div>
  </div>
</section>