// Color Pallete
$gunmetal : #453a4f;
$white    : #fff;
$crimson  : #b5292d;
$pale     : #ad9c9c;
$cocoa    : #5e3f23;
$olive    : #949232;
$coral    : #ff6754;
$khaki    : #dddb78;
$fawn     : #e1a56b;

// Background Color
$background-gunmetal  : #e1a56b;
$background-white     : #fff;
$background-crimson   : #e1a46b48;
$background-pale      : transparent;
$background-cocoa     : #537987;
$background-olive     : #b5292d;
$background-coral     : #949232;
$background-khaki     : #ff6754;
$background-fawn      : #453a4f;

