@import "https://fonts.googleapis.com/css2?family=Croissant+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Caveat&display=swap";

@import "typography";
@import "colors";

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  color: $color-secondary;
}