$gunmetal: #453a4f;
$white: #fff;
$crimson: #b5292d;
$pale: #ad9c9c;
$cocoa: #5e3f23;
$olive: #949232;
$coral: #ff6754;
$khaki: #dddb78;
$fawn: #e1a56b;
$font-primary: 'M PLUS Rounded 1c', sans-serif;
$font-secondary: 'Croissant One', cursive;
$background-gunmetal: #e1a56b;
$background-white: #fff;
$background-crimson: #e1a46b48;
$background-pale: transparent;
$background-cocoa: #537987;
$background-olive: #b5292d;
$background-coral: #949232;
$background-khaki: #ff6754;
$background-fawn: #453a4f;

@import "https://fonts.googleapis.com/css2?family=Croissant+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Caveat&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  color: $gunmetal;
}

.navbar {
  background-color: $background-gunmetal;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.logo-brand {
  width: 100px;
}

.nav-link {
  color: $white;
  font-size: 18px;
  font-weight: 500;
  transition: all .3s ease-in-out;

  .active {
    color: $crimson !important;
    font-weight: bold;
  }

  &:hover {
    color: $gunmetal;
  }
}

.navbar-toggler {
  border: none;
  outline: none !important;
}

.search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 55px;
  margin: 5px 0;

  &:focus {
    box-shadow: none;
    border: none;
  }

  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: $pale;
  }
}

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.hero {
  background-image: url('/assets/img/others/bg-desktop.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 90px;
}

#about {
  background-color: $background-white;
  padding-top: 70px;
  padding-bottom: 50px;

  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $olive;
    font-family: $font-secondary;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $gunmetal;
    margin-bottom: 20px;
  }

  img {
    width: 60%;
  }
}

#keunggulan {
  .card {
    border: none;
    background-color: $background-pale;
    transition: all .3s ease-in-out;

    img {
      max-width: 50%;
      height: auto;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

#products {
  background-color: $background-cocoa;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .text-start {
    margin-top: 30px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $white;
    font-family: $font-secondary;
  }

  .card {
    border: none;
    transition: all .3s ease-in-out;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
    }

    .btn-detail-product {
      background-color: $background-gunmetal;
      border: none;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 10px;
      transition: all .3s ease-in-out;
    }
  }

  .btn-detail-product {
    &:hover {
      background-color: $background-olive;
    }
  }
}

#testimonial {
  padding: 100px;
  background-color: $background-white;

  .carousel-control-prev {
    width: 50px;
    height: 50px;
    background-color: $background-gunmetal;
    border-radius: 50%;
    border: none;
    outline: none !important;
  }

  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: $background-gunmetal;
    border-radius: 50%;
    border: none;
    outline: none !important;
  }
}

.testimonial-item {
  img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }

  text-align: center;
  margin-bottom: 4rem;

  h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .rating {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  p {
    font-size: 16px;
  }
}

.testimonial-title {
  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $olive;
    font-family: $font-secondary;
    text-align: center;
    font-size: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $gunmetal;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }

  text-align: center;
  margin-bottom: 3rem;
}

#call-to-action {
  background-color: $background-coral;
  padding: 100px;

  img {
    width: 100%;
    border-radius: 10px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $white;
    font-family: $font-secondary;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $white;
    margin-bottom: 20px;
  }

  .btn {
    background-color: $background-white;
    color: $olive;
    border-radius: 5px;
    border: solid 2px #fff;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $background-coral;
      border: solid 2px #fff;
      color: $white;
    }
  }
}

#kritiksaran {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $background-white;

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $olive;
    font-family: $font-secondary;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $gunmetal;
    margin-bottom: 20px;
  }

  .btn {
    background-color: $background-khaki;
    color: $white;
    border-radius: 5px;
    border: solid 2px #fff;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $background-white;
      border: solid 2px #ff6754;
      color: $coral;
    }
  }
}

footer {
  background-color: $background-fawn;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

  img {
    width: 100px;
    margin-bottom: 20px;
    background-color: $background-white;
    border-radius: 10px;
    padding: 10px;
  }

  h3 {
    margin-bottom: 20px;
    color: $khaki;
    font-family: $font-secondary;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $white;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        color: $white;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;

        &:hover {
          color: $fawn;
        }
      }
    }
  }

  .social-icon {
    .fab {
      font-size: 24px;
      color: $white;
      margin-right: 20px;
      transition: all .3s ease-in-out;

      &:hover {
        color: $fawn;
      }
    }
  }
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  color: $white;
  margin-top: 20px;
}

@media (max-width: 575.98px) {
  .navbar {
    .navbar-collapse {
      background-color: $background-white;
      border-radius: 10px;
      margin-top: 10px;

      ul {
        li {
          a {
            color: $cocoa !important;
            padding-left: 20px;

            &:hover {
              border-left: #68411c solid 5px;
              background-color: $background-crimson;
            }
          }

          margin-top: 10px;
        }
      }
    }
  }

  .search-input {
    margin: 0 10px 10px 10px;
    border-radius: 10px;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: $pale;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    background-image: url('/assets/img/others/bg-smartphone.jpg') !important;
    height: 800px;
  }

  #call-to-action {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
      margin-top: 20px;
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }

    .btn {
      font-size: 12px;
    }
  }

  #kritiksaran {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
      margin-top: 20px;
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }

    .btn {
      font-size: 12px;
    }

    input {
      margin-bottom: 10px;
      width: 100% !important;
    }

    img {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero {
    background-image: url('/assets/img/others/bg-desktop.jpg');
    margin-top: 40px;
  }

  #call-to-action {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
      margin-top: 20px;
      font-size: 24px;
    }
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }

  #keunggulan {
    .card {
      margin-bottom: 20px;
      margin: 20px;

      img {
        max-width: 50%;
        height: auto;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .testimonial-title {
    h3 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 959px) {
  .testimonial-title {
    h3 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .testimonial-item {
    h3 {
      font-size: 20px;
    }

    .rating {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 780px) {
  .testimonial-item {
    img {
      max-width: 120px;
    }

    h3 {
      font-size: 18px;
    }

    .rating {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .testimonial-title {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .testimonial-item {
    img {
      max-width: 100px;
    }

    h3 {
      font-size: 16px;
    }

    .rating {
      font-size: 16px;
    }

    p {
      font-size: 10px;
    }
  }
}