// Import base variables
@import "../base/reset";
@import "../base/colors";
@import "../base/typography";

footer {
    background-color: #453a4f;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

footer img {
    width: 100px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

footer h3 {
    margin-bottom: 20px;
    color: #dddb78;
    font-family: "Croissant One", cursive;
}

footer p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

footer ul li a:hover {
    color: #e1a56b;
}

footer .social-icon .fab {
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

footer .social-icon .fab:hover {
    color: #e1a56b;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}