// Hero Banner
.hero {
  background-image: url('/assets/img/others/bg-desktop.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 90px;
}