// Import base variables
@import "../base/reset";
@import "../base/colors";
@import "../base/typography";

#keunggulan {
  @function maxWidth($firstWidth,$secondWidth){
    @return $firstWidth + $secondWidth;
  }
  .card {
    background-color: $color-white;
    transition: all 0.3s ease-in-out;
    border: none;
    margin-top: 10px;

    img {
      max-width: maxWidth(30%,20% );
      height: auto;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
