// Import base variables
@import "../base/reset";
@import "../base/colors";
@import "../base/typography";

// Products

#products {
    background-color: $background-cocoa;
  
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 15px;
    }
  
    .text-start {
      margin-top: 30px;
    }
  
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
      color: $white;
      font-family: $font-secondary;
    }
  
    .card {
      border: none;
      transition: all .3s ease-in-out;
      border-radius: 15px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
  
      img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
      }
  
      .btn-detail-product {
        background-color: $background-gunmetal;
        border: none;
        color: $gunmetal;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 10px;
        transition: all .3s ease-in-out;
      }
    }
  
    .btn-detail-product {
      &:hover {
        background-color: $background-white;
        border: $background-gunmetal;
        border: 3px solid $fawn;
      }
    }

    .modal {
        .modal-dialog {
          max-width: 800px; 
          margin: 30px auto; 
        }
      
        .modal-content {
          border-radius: 10px;
          background-color: $background-gunmetal;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
          color: $white;
        }
      
        .modal-body {
          padding: 20px;
          text-align: center; 
        }
      
        .img-fluid {
          max-width: 100%;
          height: auto;
          border-radius: 10px; 
        }
      
        .product-detail {
          margin-top: 20px; 
          text-align: justify; 
        }
      }
  }
