// Use base variables;
@use "../base/reset";
@use "../base/colors";
@use "../base/typography";

#testimonial {
  padding: 100px;
  background-color: base/colors.$color-white;

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: base/colors.$color-primary;
    border-radius: 50%;
    border: none;
    outline: none !important;
  }

  .testimonial-item {
    text-align: center;
    margin-bottom: 4rem;

    img {
      width: 100px;
      border-radius: 50%;
      margin-bottom: 20px;
      max-width: 150px;
      height: auto;
      border-radius: 50%;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 1rem;
    }

    .rating {
      font-size: 24px;
      margin-bottom: 1rem;
    }

    p {
      font-size: base/typography.font-size("regular");
    }
  }

  .testimonial-title {
    text-align: center;
    margin-bottom: 3rem;

    h3 {
      font-size: base/typography.regularPlusExtralarge();
      font-weight: 700;
      margin-bottom: 10px;
      color: $color-primary;
      font-family: $font-secondary;
      text-align: center;
      font-size: base/typography.regularPlusExtralarge();
    }

    p {
      font-size: base/typography.font-size("large");
      font-weight: 400;
      color: $color-secondary;
      margin-bottom: 20px;
      text-align: center;
      font-size: base/typography.font-size("large");
    }
  }

  .testimonial-button {
    text-align: center;
    margin-bottom: 3rem;
    background-color: base/colors.$color-primary;
    padding: 10px 10px;
    border-radius: 10px;
    border: solid 2px $color-primary;
    transition: all 0.3s ease-in-out;
    color: $color-white;
    font-weight: bold;
    text-decoration: none !important;

    &:hover {
      background-color: base/colors.$color-white;
      border: solid 2px $color-primary;
      color: $color-primary;
    }
  }
}


