/* Call To Action */
#call-to-action {
  background-color: #949232;
  padding: 5%;
}

#call-to-action img {
  width: 100%;
  border-radius: 10px;
}

#call-to-action h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Croissant One', cursive;
}

#call-to-action p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

#call-to-action .btn {
  background-color: #fff;
  color: #949232;
  border-radius: 5px;
  border: solid 2px #fff;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

#call-to-action .btn:hover {
  background-color: #949232;
  border: solid 2px #fff;
  color: #fff;
}
/* Tampilan responsif untuk layar dengan lebar kurang dari atau sama dengan 768px */
@media (max-width: 810px) {
  .col-md-5 {
    /* Ubah lebar kolom menjadi 100% */
    width: 100%;
  }
  .col-12.col-md-5 {
    /* Atur lebar kolom menjadi 100% pada layar kecil */
    width: 100%;
  }
}
