#kontak {
  padding: 40px;
  background-color: #201608;
  color: #fff;
}


.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

/* --- */

.section__title, 
.section__subtitle {
  text-align: center;
  color: rgb(104, 104, 104);
  font-weight: 600;
}

.section__title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: 1rem;
  margin-bottom: .25rem;
}

.section__subtitle span {
  color: rgb(255, 255, 255);
}

/*  -----  */

.contact__container {
  padding-top: 1rem;
}

.contact__form,
.contact__group {
  display: grid;
  row-gap: 1.5rem;  
}

.contact__group {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.contact__form {
  position: relative;
}

.contact__input {
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  background-color: #382409;
  color: white;
}

.contact__input::placeholder {
  color: rgb(112, 112, 112);
}

.contact__form textarea {
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}

.contact__button {
  justify-self: center;
  cursor: pointer;
}


input,
textarea,
button,
body {
  font-size: .938rem;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

.button {
  display: inline-block;
  background-color: rgb(87, 49, 29);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color: rgb(185, 185, 185);
  font-weight: 3rem;
  transition: box-shadow .4s;
}

.button:hover {
  transition: .6s;
  background-color: rgb(158, 79, 1);
  box-shadow: 0 8px 14px rgb(111, 59, 14);
}