/* Navbar */
.navbar {
  background-color: #e1a56b;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.logo-brand {
  width: 100px;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.nav-link .active {
  color: #453a4f !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #453a4f;
}

.navbar-toggler {
  border: none;
  outline: none !important;
}

.search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 55px;
  margin: 5px 0;
}

.search-input:focus {
  box-shadow: none;
  border: none;
}

.search-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #ad9c9c;
}

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}