/* Hero Banner */
.hero-background {
  background-image: url('https://raw.githubusercontent.com/andikatuluspangestu/bumbu-umik-web/main/assets/img/others/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #453a4f;
  font-family: 'Croissant One', cursive;
  margin-top: 180px;
  margin-left: 150px;
}

.hero-subtitle {
  font-family: 'Caveat', cursive;
  font-size: 28px;
  color: #949232;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  right: -150px;
}

.hero-button {
  background-color: #fff;
  color: #e1a56b;
  border-radius: 55px;
  border: solid 2px #e1a56b;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  transition: all .3s ease-in-out;
  right: -255px;
  position: relative;
  margin-top: 20px;
}

.hero-button:hover {
  background-color: #e1a56b;
  border: solid 2px #fff;
  color: #fff;
}

.hero-image {
  width: 83%;
  position: relative;
  z-index: 1;
  bottom: -10%;
  left: 100px;
  padding-top: 50px;
}

/* Responsive layout */
@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70vh;
    overflow: hidden;
  }

  .hero-title,
  .hero-subtitle,
  .hero-image {
    margin: 0 auto;
    z-index: 2;
  }

  .hero-title {
    display: none;
  }

  .hero-subtitle {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    color: #949232;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: 15vh;
    z-index: 2;
  }

  .hero-button {
    display: none;
  }

  .hero-image {
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: -80px;
    left: 0;
  }
}