/* Keunggulan */
#keunggulan {
  padding-bottom: 100px;
}

#keunggulan .card {
  border: none;
  background-color: transparent;
  transition: all .3s ease-in-out;
  width: 18rem;
}

#keunggulan img {
  width: 50%;
  margin-bottom: 10px;
}
/* Tampilan responsif untuk layar dengan lebar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
  .col-12.col-md-4 {
    /* Ubah lebar kolom menjadi 100% */
    width: 100%;
    /* Tambahkan margin bawah 20px antara kotak-kotak */
    margin-bottom: 20px;
  }
}
