/* Kritik & Saran */
#kritiksaran {
  padding: 100px;
  background-color: #fff;
}

#kritiksaran h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #949232;
  font-family: 'Croissant One', cursive;
}

#kritiksaran p {
  font-size: 18px;
  font-weight: 400;
  color: #453a4f;
  margin-bottom: 20px;
}

#kritiksaran img {
  width: 100%;
  border-radius: 10px;
}

#kritiksaran .btn {
  background-color: #ff6754;
  color: #fff;
  border-radius: 5px;
  border: solid 2px #fff;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

#kritiksaran .btn:hover {
  background-color: #fff;
  border: solid 2px #ff6754;
  color: #ff6754;
}